<h1>Employee Search</h1>

<h2>Search by name:</h2>
<form>
    <!-- Search form -->
    <input type="text" id="search_term" name="search_term" />
    <input type="submit" id="search_submit" value="Submit" />
</form>
<div class="container result_box" style="border-top: solid 1px grey; margin: 25px; width: 80%">
    <!-- Search results go here -->
    <h2>Search Results:</h2>
    <div class="row">
            <div class="col-md-3">
                <h3>Emp ID</h3>
            </div>
            <div class="col-md-3">
                <h3>Emp Name</h3>
            </div>
        </div>
    <div class="container" id="result">
        
            <!-- <div class='row'><div class='col-md-6'><h4>There were no results</h4></div></div> -->
    </div>

</div>

